.product-selecter {
  margin: 20px;
  margin-right: 0;
  margin-bottom: 10px;

  & .dropdown {
    width: 100%;

    button {
      padding: 10px 12px;
      background: transparent;
      outline: none;
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      color: #444;
      transition: border-color 0.3s ease-in-out;

      & span {
        display: inline-flex;
        align-items: center;
        gap: 10px;
      }

      &:hover {
        border-color: #aaa;
        svg {
          transform: rotate(180deg);
        }
      }

      &:hover span {
        svg {
          transform: rotate(0deg);
        }
      }

      & svg {
        width: 20px;
        height: 20px;
        color: currentColor;
        transition: transform 0.3s ease-in-out;
      }
    }

    &__box {
      justify-content: space-between;
    }

    &__menu li button {
      border: none;
      padding-right: 32px;

      &.active {
        color: var(--ifm-color-primary);
      }

      &:hover {
        background-color: #efefef;
        svg {
          transform: rotate(0deg);
        }
      }
    }
  }
}
