* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  position: relative;
  line-height: 1;
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--font-regular);
  font-family: var(--font-family);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-main);
  text-decoration: none;
}
