.ch-codeblock .ch-code-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button {
  display: block;
}

nav.navbar {
  display: none;
}

.hero {
  background: #edf5fa;
  color: var(--color-dark);
}
